.email-sign-in {
  border-right: white solid 1px;
  padding: 1.5rem 1.5rem 1rem 0;
}

.social-sign-in .email-sign-in {
  width: 50%;
  max-width: 50%;
}

.sign-in-row {
  background: transparent;
  border: 0px;
}

.sign-in-table {
  table-layout: fixed;
  width: 100%;
}