<!-- Wrapper -->
<div id="wrapper">

  <!-- Header -->
  <header id="header">
    <div class="logo">
      <span class="icon fa-heart"></span>
    </div>
    <div class="content">
      <div class="inner">
        <h1>The Reading Challenge!</h1>
        <p>
          <!--[-->For all you bibliophiles out there,
          <!--]--><br />
          <!--[-->Take the challenge and read from genres that you've never read before!
          <!--]-->
        </p>
      </div>
    </div>
    <nav>
      <ul *ngIf="!loggedInUser">
        <li><a href="#sign-in">Sign in</a></li>
      </ul>
      <ul *ngIf="loggedInUser">
        <li><a href="#challenge-list" (click)="initChallengeList()">Start Now</a></li>
        <li><a href="#create">Build Now</a></li>
      </ul>
    </nav>
  </header>

  <!-- Main -->
  <div id="main">

    <!-- Sign In -->
    <article id="sign-in">
      <app-sign-in></app-sign-in>
    </article>

    <!-- View list -->
    <article id="challenge-list">
      <app-challenge-list #challengeList ></app-challenge-list>
    </article>

    <!-- Create challenge -->
    <article id="create">
      <app-build-now></app-build-now>
    </article>

    <article id="book-details">
      <app-book-details></app-book-details>
    </article>

  </div>

  <!-- Footer -->
  <footer id="footer">
    <p class="copyright">&copy; Ministry of Magic
  </footer>

</div>

<!-- BG -->
<div id="bg"></div>